[submodule "vendor/rust-fs-ext4"]
	path = vendor/rust-fs-ext4
	url = https://github.com/christhomas/rust-fs-ext4
[submodule "vendor/rust-fs-ntfs"]
	path = vendor/rust-fs-ntfs
	url = https://github.com/christhomas/rust-fs-ntfs
[submodule "vendor/go-networkfs"]
	path = vendor/go-networkfs
	url = https://github.com/christhomas/go-networkfs
[submodule "vendor/tabler-icons"]
	path = vendor/tabler-icons
	url = https://github.com/tabler/tabler-icons.git
[submodule "vendor/rust-fs-core"]
	path = vendor/rust-fs-core
	url = https://github.com/antimatter-studios/rust-fs-core
[submodule "vendor/rust-img-qcow2"]
	path = vendor/rust-img-qcow2
	url = https://github.com/antimatter-studios/rust-img-qcow2
[submodule "vendor/rust-partitions"]
	path = vendor/rust-partitions
	url = https://github.com/antimatter-studios/rust-partitions
[submodule "vendor/rust-img-vhd"]
	path = vendor/rust-img-vhd
	url = https://github.com/antimatter-studios/rust-img-vhd
[submodule "vendor/rust-img-vhdx"]
	path = vendor/rust-img-vhdx
	url = https://github.com/antimatter-studios/rust-img-vhdx
[submodule "vendor/rust-img-vmdk"]
	path = vendor/rust-img-vmdk
	url = https://github.com/antimatter-studios/rust-img-vmdk
[submodule "vendor/rust-fs-squashfs"]
	path = vendor/rust-fs-squashfs
	url = https://github.com/antimatter-studios/rust-fs-squashfs
[submodule "vendor/rust-fs-erofs"]
	path = vendor/rust-fs-erofs
	url = https://github.com/antimatter-studios/rust-fs-erofs
